In [2]:
import os
import pandas as pd
file_path = "datasets/ghcnd_all/ACW00011604.dly"

In [3]:
file = open(file_path, "r")
content = file.readlines()

## Define fields to capture with a dictionary

In [4]:
fields = {
    "ID": {"init": 0, "end": 11},
    "YEAR": {"init": 11, "end": 15},
    "MONTH": {"init": 15, "end": 17},
    "ELEMENT": {"init": 17, "end": 21}
}

In [5]:
for idx, i in enumerate(range(21, 269, 8)):
    fields[f"VALUE{idx+1}"] = {"init": i, "end": i+5}
    fields[f"MFLAG{idx+1}"] = {"init": i+5, "end": i+6}
    fields[f"QFLAG{idx+1}"] = {"init": i+6, "end": i+7}
    fields[f"SFLAG{idx+1}"] = {"init": i+7, "end": i+8}

## Capture data

Capture only records with data.

In [6]:
records = []
measurement = ""
for line in content:
    record = {}
    for key in fields:
        if "VALUE" in key:
            measurement = line[fields[key]["init"]:fields[key]["end"]]
        value = line[fields[key]["init"]:fields[key]["end"]]
        if (measurement != "-9999") or key in ["ID", "YEAR", "MONTH", "ELEMENT"]:
            record[key] = value
    records += [record]
records[40]

{'ID': 'ACW00011604',
 'YEAR': '1949',
 'MONTH': '06',
 'ELEMENT': 'WT16',
 'VALUE1': '    1',
 'MFLAG1': ' ',
 'QFLAG1': ' ',
 'SFLAG1': 'X',
 'VALUE3': '    1',
 'MFLAG3': ' ',
 'QFLAG3': ' ',
 'SFLAG3': 'X',
 'VALUE4': '    1',
 'MFLAG4': ' ',
 'QFLAG4': ' ',
 'SFLAG4': 'X',
 'VALUE5': '    1',
 'MFLAG5': ' ',
 'QFLAG5': ' ',
 'SFLAG5': 'X',
 'VALUE6': '    1',
 'MFLAG6': ' ',
 'QFLAG6': ' ',
 'SFLAG6': 'X',
 'VALUE7': '    1',
 'MFLAG7': ' ',
 'QFLAG7': ' ',
 'SFLAG7': 'X',
 'VALUE8': '    1',
 'MFLAG8': ' ',
 'QFLAG8': ' ',
 'SFLAG8': 'X',
 'VALUE9': '    1',
 'MFLAG9': ' ',
 'QFLAG9': ' ',
 'SFLAG9': 'X',
 'VALUE10': '    1',
 'MFLAG10': ' ',
 'QFLAG10': ' ',
 'SFLAG10': 'X',
 'VALUE12': '    1',
 'MFLAG12': ' ',
 'QFLAG12': ' ',
 'SFLAG12': 'X',
 'VALUE14': '    1',
 'MFLAG14': ' ',
 'QFLAG14': ' ',
 'SFLAG14': 'X',
 'VALUE16': '    1',
 'MFLAG16': ' ',
 'QFLAG16': ' ',
 'SFLAG16': 'X',
 'VALUE17': '    1',
 'MFLAG17': ' ',
 'QFLAG17': ' ',
 'SFLAG17': 'X',
 'VALUE18': '    1',
 'MFLAG18': ' ',
 'QFLAG18': ' ',
 'SFLAG18': 'X',
 'VALUE19': '    1',
 'MFLAG19': ' ',
 'QFLAG19': ' ',
 'SFLAG19': 'X'}

## Struct data

In [7]:
import re

# Compile the regular expression pattern
pattern = re.compile(r'\d+')

def get_record(r, day):
    return (
        r['ID'], 
        r['YEAR'], 
        r['MONTH'], 
        r['ELEMENT'], 
        day,
        r[f"VALUE{day}"],
        r[f"MFLAG{day}"],
        r[f"QFLAG{day}"],
        r[f"SFLAG{day}"],
    )


def get_records(records):
    measurements = []
    for record in records:
        # Use set comprehension for clarity and efficiency
        days = {int(pattern.search(key).group()) for key in record if pattern.search(key)}
        measurements += [get_record(record, day) for day in days]
    return measurements

df = pd.DataFrame(get_records(records), columns=['id', 'year', 'month', 'element', 'day', 'value', 'measurement_flag', 'quality_flag', 'source_flag'])

In [8]:
df.head()

,id,year,month,element,day,value,measurement_flag,quality_flag,source_flag
0,ACW00011604,1949,01,TMAX,1,289,,,X
1,ACW00011604,1949,01,TMAX,2,289,,,X
2,ACW00011604,1949,01,TMAX,3,283,,,X
3,ACW00011604,1949,01,TMAX,4,283,,,X
4,ACW00011604,1949,01,TMAX,5,289,,,X

In [1]:
from sqlalchemy import create_engine